body {
font-family: Sans-serif;
padding: 10%;
text-align: center;
font-size: 40;
}

h1 {
    font-size: 20;
    text-align: left;
    padding: 5%;
}

.claim {
    font-size: 25;
    text-align: left;
    padding: 5 30 0 20;
    font-weight: 900;
}

.description {
    font-size: 20;
    text-align: left;
    padding: 5 30 0 20;
    font-weight: 900;
}

.highlight {
    font-size: 20;
    text-align: left;
    font-weight: 900;
    color: darkmagenta
}


/* Styling the area of the slides */
#slideshow {
overflow: hidden;
width: 412px;
height: 732px;
margin: 0 auto;
}

/* Style each of the sides
with a fixed width and height */
.slide {
float: left;
width: 412px;
height: 732px;
}

/* Add animation to the slides */
.slide-wrapper {
/* Calculate the total width on the
basis of number of slides */
width: calc(412px * 4);

/* Specify the animation with the
duration and speed */
animation: slide 10s ease infinite;
}

/* Set the background color
of each of the slides */
.slide:nth-child(1) {
background: yellow;
}

.slide:nth-child(2) {
background: darkmagenta;
}

.slide:nth-child(3) {
background: black;
}

.slide:nth-child(4) {
background: seagreen;
}

/* Define the animation
for the slideshow */
@keyframes slide {
/* Calculate the margin-left for
each of the slides */
20% {
    margin-left: 0px;
}

40% {
    margin-left: calc(-412px * 1);
}

60% {
    margin-left: calc(-412px * 2);
}

80% {
    margin-left: calc(-412px * 3);
}
}
    

